{% assign desc = product.description | split: '<h2' | join: '<!-- split --><h2' | split: '<!-- split -->' %}

{% for product--description in desc %}
  {% if product--description contains '</h2>' %}
    {% assign heading = product--description | split: '</h2>' | join: '</h2><!-- split -->' | split: '<!-- split -->' %}
    {% assign headingTitle = heading.first | strip_html %}
    {% if headingTitle != blank %}
      {% assign headingTitle = heading.first | strip | downcase %}
      {% if headingTitle contains 'course aims' %}
        <div class="custom--description">
          <h2 class="h2 accordion__title">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.3569 0.664307C15.9983 0.664307 17.5715 0.94834 19.0289 1.46707L17.3998 3.05926C14.9343 2.4035 12.3163 2.56296 9.95304 3.51284C7.58976 4.46272 5.61358 6.14979 4.33179 8.31171C3.05 10.4736 2.53444 12.9892 2.86528 15.4674C3.19612 17.9455 4.35481 20.2472 6.16118 22.0147C7.96755 23.7822 10.3204 24.9163 12.8538 25.2408C15.3872 25.5652 17.9592 25.0617 20.1699 23.8087C22.3805 22.5557 24.106 20.6232 25.0779 18.312C26.0498 16.0007 26.2137 13.44 25.5441 11.0282L27.1719 9.43601C27.7163 10.8993 27.9941 12.4447 27.9926 14.0019C27.9926 21.3681 21.8877 27.3395 14.3569 27.3395C6.82603 27.3395 0.721191 21.3681 0.721191 14.0019C0.721191 6.63568 6.82603 0.664307 14.3569 0.664307V0.664307ZM14.3569 6.00094C15.0476 6.00063 15.7356 6.08576 16.4045 6.2543V8.34388C15.0927 7.88992 13.6621 7.88567 12.3474 8.33183C11.0328 8.77799 9.91229 9.64805 9.16982 10.7992C8.42736 11.9504 8.10705 13.3142 8.26147 14.6669C8.41589 16.0196 9.03586 17.2807 10.0196 18.2434C11.0034 19.206 12.2925 19.8129 13.6754 19.9644C15.0582 20.1159 16.4527 19.8031 17.6299 19.0773C18.807 18.3515 19.6969 17.2558 20.1535 15.9701C20.6102 14.6843 20.6063 13.285 20.1427 12.0016H22.279C22.7055 13.6173 22.6049 15.323 21.9912 16.8799C21.3775 18.4369 20.2816 19.7672 18.8566 20.6848C17.4317 21.6023 15.7492 22.0611 14.0445 21.9969C12.3398 21.9328 10.6983 21.3489 9.34963 20.327C8.001 19.3051 7.01275 17.8963 6.52321 16.2979C6.03366 14.6994 6.06731 12.9912 6.61945 11.4123C7.17159 9.83351 8.21458 8.46303 9.60246 7.49271C10.9903 6.52239 12.6536 6.00081 14.3596 6.00094H14.3569ZM17.0835 14.0019C17.0833 14.5751 16.8943 15.133 16.5445 15.5929C16.1947 16.0528 15.7027 16.3902 15.1415 16.5552C14.5803 16.7201 13.9796 16.7038 13.4286 16.5087C12.8776 16.3135 12.4055 15.9499 12.0823 15.4717C11.7592 14.9936 11.6021 14.4263 11.6344 13.8539C11.6668 13.2816 11.8867 12.7347 12.2618 12.2942C12.6368 11.8538 13.147 11.5432 13.7166 11.4086C14.2863 11.274 14.8851 11.3225 15.4243 11.5469L17.7692 9.25332L17.7678 5.00082C17.7681 4.73566 17.876 4.48145 18.0678 4.29407L21.476 0.960342C21.619 0.82065 21.8011 0.725539 21.9993 0.687022C22.1975 0.648505 22.403 0.668309 22.5897 0.743933C22.7764 0.819557 22.9361 0.947609 23.0484 1.11192C23.1608 1.27622 23.2208 1.46941 23.221 1.66709V5.33419H26.9701C27.1722 5.33437 27.3697 5.39312 27.5377 5.50302C27.7057 5.61293 27.8366 5.76906 27.9139 5.9517C27.9912 6.13434 28.0114 6.33529 27.9721 6.52918C27.9327 6.72307 27.8355 6.90119 27.6926 7.04106L24.2844 10.3748C24.0928 10.5624 23.8329 10.6679 23.5618 10.6682H19.2129L16.8681 12.9618C17.0071 13.2818 17.0835 13.6325 17.0835 14.0019V14.0019ZM23.1379 8.66792L24.5012 7.33443H22.1972C21.926 7.33443 21.6659 7.22906 21.4742 7.0415C21.2824 6.85394 21.1747 6.59956 21.1747 6.33431V4.08071L19.8128 5.4142V8.58924C19.8412 8.61431 19.8681 8.64103 19.8932 8.66925H23.1379V8.66792Z" fill="#00AF52"/>
            </svg>

            <span>
              {{ heading | first }}
            </span>
          </h2>
          <div class="content">
            {{ heading | last }}
          </div>
        </div>
      {% else %}
        <div class="custom--description">
          <h2 class="h2 accordion__title">
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_62_186)">
              <path d="M6 24.544H8V26.5633H4V6.37037H2V28.5826H8V30.6019H0V4.35108H4V2.33179H10C10.9167 2.33179 11.7969 2.47377 12.6406 2.75773C13.4844 3.04169 14.2708 3.46764 15 4.03557C15.7188 3.46764 16.5 3.04169 17.3438 2.75773C18.1875 2.47377 19.0729 2.33179 20 2.33179H26V4.35108H30V17.2714L28 16.3564V6.37037H26V15.4414L24 14.5106V4.35108H20C19.2604 4.35108 18.5521 4.47729 17.875 4.7297C17.1979 4.98211 16.5729 5.35547 16 5.84977V15.4414L14 16.3564V5.84977C13.4375 5.36599 12.8177 4.99788 12.1406 4.74547C11.4635 4.49306 10.75 4.3616 10 4.35108H6V24.544ZM28 28.5668L21 32.1164L14 28.5668C14 28.1882 14.0052 27.7886 14.0156 27.3679C14.026 26.9472 14.0677 26.5212 14.1406 26.09C14.2135 25.6588 14.3177 25.2539 14.4531 24.8753C14.5885 24.4967 14.776 24.1444 15.0156 23.8183L12 22.4301V31.6115H10V21.5151L21 16.4668L32 21.5151L26.9844 23.8183L27.1094 23.9919C27.3281 24.3179 27.4948 24.6702 27.6094 25.0488C27.724 25.4275 27.8125 25.8113 27.875 26.2005C27.9375 26.5896 27.974 26.9892 27.9844 27.3994C27.9948 27.8096 28 28.1987 28 28.5668ZM21 18.6754L14.8281 21.5151L21 24.3547L27.1719 21.5151L21 18.6754ZM21 29.8604L26 27.3205C25.9896 27.0471 25.9688 26.7999 25.9375 26.5791C25.9062 26.3582 25.849 26.1426 25.7656 25.9323C25.6823 25.7219 25.599 25.5168 25.5156 25.317C25.4323 25.1172 25.3125 24.8963 25.1562 24.6544L21 26.5633L16.8438 24.6544C16.6875 24.9069 16.5625 25.133 16.4688 25.3328C16.375 25.5326 16.2917 25.7324 16.2188 25.9323C16.1458 26.1321 16.099 26.3424 16.0781 26.5633C16.0573 26.7842 16.0365 27.0418 16.0156 27.3363L21 29.8604Z" fill="#00AF52"/>
              </g>
              <defs>
              <clipPath id="clip0_62_186">
              <rect width="32" height="32.3087" fill="white" transform="translate(0 0.3125)"/>
              </clipPath>
              </defs>
            </svg>
            <span>
              {{ heading | first }}
            </span>
          </h2>
          <div class="content">
            {{ heading | last }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% else %}
    {{ product--description }}
  {% endif %}
{% endfor %}
<style>
  h2:empty{
    display: none;
  }
    .custom--description {
      border: 1px solid var(--borderclr);
      border-radius:var(--border-radius);
      padding: var(--padding);
      margin-top: 10px;
  }
</style>
