<ul class="add-to-links">
  {% if product.metafields.custom.level != blank %}
    <li>
      <a
        href="javascript:;"
        data-product-handle="emergency-first-aid-at-work-online-course-level-3-cpd-accredited"
        data-product-title="Emergency First Aid at Work - Level 3 - Online Course - CPDUK Certified"
        class="link-compare"
        title="Add to compare"
      >
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21 0L16 3.75V10.25L13 8L8 11.75V18.25L5 16L0 19.75V26H2V20.75L5 18.5L8 20.75V26H10V12.75L13 10.5L16 12.75V26H18V4.75L21 2.5L24 4.75V26H26V3.75L21 0Z" fill="#05284C"></path>
        </svg>

        <span>{{ product.metafields.custom.level }}</span>
      </a>
    </li>
  {% endif %}
  {% if product.metafields.custom.duration != blank %}
    <li>
      <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 25C19.6274 25 25 19.6274 25 13C25 6.37258 19.6274 1 13 1C6.37258 1 1 6.37258 1 13C1 19.6274 6.37258 25 13 25Z" stroke="#05284C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M13 6.33325V12.9999M13 12.9999L15.6667 8.99992" stroke="#05284C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>

      <span>{{ product.metafields.custom.duration }}</span>
    </li>
  {% endif %}
  {% if product.metafields.custom.validity != blank %}
    <li>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.3335 15.9999L13.3335 19.9999L22.6668 10.6666M26.6668 19.9999C25.3335 21.3333 28.3335 24.9999 26.6668 26.6666C25.0002 28.3333 21.3335 25.3333 20.0002 26.6666C18.6668 27.9999 18.0002 30.6666 16.0002 30.6666C14.0002 30.6666 13.3335 27.9999 12.0002 26.6666C10.6668 25.3333 7.00016 28.3333 5.3335 26.6666C3.66683 24.9999 6.66683 21.3333 5.3335 19.9999C4.00016 18.6666 1.3335 17.9999 1.3335 15.9999C1.3335 13.9999 4.00016 13.3333 5.3335 11.9999C6.66683 10.6666 3.66683 6.99992 5.3335 5.33325C7.00016 3.66659 10.6668 6.66659 12.0002 5.33325C13.3335 3.99992 14.0002 1.33325 16.0002 1.33325C18.0002 1.33325 18.6668 3.99992 20.0002 5.33325C21.3335 6.66659 25.0002 3.66659 26.6668 5.33325C28.3335 6.99992 25.3335 10.6666 26.6668 11.9999C28.0002 13.3333 30.6668 13.9999 30.6668 15.9999C30.6668 17.9999 28.0002 18.6666 26.6668 19.9999Z"
            stroke="#05284C"
            stroke-width="2"
        ></path>
      </svg>

      <span>{{ product.metafields.custom.validity }}</span>
    </li>
  {% endif %}
  {% if product.metafields.custom.delivery != blank %}
    <li>
      <svg width="28" height="20" viewBox="0 0 28 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 0H28V16H16V18H20V20H10V18H14V16H8V20H0V8H2V0ZM6 18V10H2V18H6ZM8 14H26V2H4V8H8V14Z" fill="#05284C"></path>
      </svg>

      <span>{{ product.metafields.custom.delivery }}</span>
    </li>
  {% endif %}
  {% if product.metafields.custom.mode != blank %}
    <li>
      <svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M15.875 18.875L17 20H2C1.73958 20 1.48958 19.9479 1.25 19.8438C1.01042 19.7396 0.796875 19.5885 0.609375 19.3906C0.421875 19.1927 0.276042 18.9792 0.171875 18.75C0.0677083 18.5208 0.0104167 18.2708 0 18C0 17.8333 0.015625 17.6458 0.046875 17.4375C0.078125 17.2292 0.130208 17.026 0.203125 16.8281C0.276042 16.6302 0.359375 16.4427 0.453125 16.2656C0.546875 16.0885 0.661458 15.9323 0.796875 15.7969L4 12.5781V0H26V12.5781L24.5781 14H5.42188L2.25 17.1562C2.21875 17.1875 2.1875 17.2396 2.15625 17.3125C2.125 17.3854 2.09896 17.4688 2.07812 17.5625C2.05729 17.6562 2.03646 17.7396 2.01562 17.8125C1.99479 17.8854 1.98958 17.9479 2 18H16.7656L15.875 18.875ZM6 12H24V2H6V12ZM31.7031 14.4688L23 23.1719L18.7969 18.9688L20.2031 17.5469L23 20.3438L30.2969 13.0469L31.7031 14.4688Z"
            fill="#05284C"
        ></path>
      </svg>

      <span>{{ product.metafields.custom.mode }}</span>
    </li>
  {% endif %}
  {% if product.metafields.custom.certificate_expiry != blank %}
    <li>
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M9.3335 15.9999L13.3335 19.9999L22.6668 10.6666M26.6668 19.9999C25.3335 21.3333 28.3335 24.9999 26.6668 26.6666C25.0002 28.3333 21.3335 25.3333 20.0002 26.6666C18.6668 27.9999 18.0002 30.6666 16.0002 30.6666C14.0002 30.6666 13.3335 27.9999 12.0002 26.6666C10.6668 25.3333 7.00016 28.3333 5.3335 26.6666C3.66683 24.9999 6.66683 21.3333 5.3335 19.9999C4.00016 18.6666 1.3335 17.9999 1.3335 15.9999C1.3335 13.9999 4.00016 13.3333 5.3335 11.9999C6.66683 10.6666 3.66683 6.99992 5.3335 5.33325C7.00016 3.66659 10.6668 6.66659 12.0002 5.33325C13.3335 3.99992 14.0002 1.33325 16.0002 1.33325C18.0002 1.33325 18.6668 3.99992 20.0002 5.33325C21.3335 6.66659 25.0002 3.66659 26.6668 5.33325C28.3335 6.99992 25.3335 10.6666 26.6668 11.9999C28.0002 13.3333 30.6668 13.9999 30.6668 15.9999C30.6668 17.9999 28.0002 18.6666 26.6668 19.9999Z"
            stroke="#05284C"
            stroke-width="2"
        ></path>
      </svg>

      <span>{{ product.metafields.custom.certificate_expiry }}</span>
    </li>
  {% endif %}
</ul>
