<div class="custom-block custom-block-1">
  {% if section.settings.heading != blank -%}
    <h3>{{ section.settings.heading }}</h3>
  {%- endif %}
  {%- assign image = section.settings.image -%}
  {% if image != blank %}
    <div style="padding: 0;" class="product-sidebar-img-wrap">
      <img src="{{ image | img_url:'master' }}" alt="{{ image |alt }}" loading="lazy">
    </div>
  {% endif %}
  <div class="custom-block-list">
    <ul class="list-wrap">
      {%- for block in section.blocks -%}
        {% if block.type == 'text' %}
        <li>
          <p>
            <span class="list-svg-wrap">
              {% if block.settings.select_icon == 'accessibility' %}
                {% render 'accessibility' %}
              {% elsif block.settings.select_icon == 'currency' %}
                {% render 'currency-svg' %}
              {% elsif block.settings.select_icon == 'support' %}
                {% render 'support' %}
              {% elsif block.settings.select_icon == 'learning' %}
                {% render 'learning' %}
              {% elsif block.settings.select_icon == 'certification' %}
                {% render 'certification' %}
              {% endif %}
            </span>
            {{ block.settings.text }}
          </p>
        </li>
      {% endif %}
      {%- endfor -%}
    </ul>
  </div>
</div>
<div class="block-main-canvas">
  <div class="canvas-icon visible-sm visible-xs">
    <a href="javascript:void(0)"><i class="fa fa-sliders"></i></a>
  </div>
  <div class="canvas-inner">
    <div class="block block-nav sidebar-cate-toogle">
      <div class="block-title" style="font-size: 18px; font-weight: bold; margin-bottom: 20px;">
        <span>Categories</span>
        <span class="collapse">
          <i class="icon-up-dir"></i>
          <i class="icon-down-dir"></i>
        </span>
      </div>
      <div class="sidebar-content block-content">
        <ul id="categories_nav" class="nav-accordion nav-categories">
          {% for collection in product.collections %}
            <li class="level0 level-top">
              <a href="{{ collection.url }}" class="level-top">
                {{ collection.title }}
              </a>
            </li>
          {% endfor %}
         
        </ul>
        <script>
          jQuery(document).ready(function($){
            $('.nav-categories li').each(function(){
              if($(this).hasClass('active')){
                $(this).parents('li').addClass('active')
              }
            });
          });
        </script>
      </div>
    </div>

    <div class="block block-layered-nav" style="display: none;">
      <div class="block-content">
        <style>
          .block-layered-nav dd.size .input-container{
          	display:none !important;
          }
        </style>

        <dl class="narrow-by-list">
          <div class="narrow-item sidebar-toogle hide">
            <dt class="block-title">
              <span> Price </span>

              <span class="collapse">
                <i class="icon-down-dir"></i>
                <i class="icon-up-dir"></i>
              </span>
            </dt>
            <dd class="sidebar-content layer-filter price color-swatch">
              <ol class="swatch-list fields">
                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="below-10-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">Below £10.00</span>
                  </div>
                </li>

                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="10-00-19-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">£10.00-19.00</span>
                  </div>
                </li>

                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="20-00-29-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">£20.00-29.00</span>
                  </div>
                </li>

                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="30-00-39-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">£30.00-39.00</span>
                  </div>
                </li>

                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="40-00-49-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">£40.00-49.00</span>
                  </div>
                </li>

                <li class="disable">
                  <div class="item disable swatch-checkbox">
                    <div class="input-container">
                      <input value="above-50-00" disabled class="checkbox smart_input" type="checkbox">
                      <div class="input-skin">
                        <i class="visible-unchecked icon-check-empty"></i>
                        <i class="visible-checked icon-check"></i>
                      </div>
                    </div>
                    <span class="name">Above £50.00</span>
                  </div>
                </li>
              </ol>
            </dd>
          </div>

          <script>
            jQuery(function ($) {
              $('.block-layered-nav').hide();
            });
          </script>
        </dl>
      </div>
    </div>

    <div class="block html_sidebar"></div>
  </div>
</div>
<style>
    img.current {
      display: none !important;
  }
  .block-main-canvas .nav-accordion li{
    padding-left: 10px;
    padding-right: 10px;
  }
   .block-main-canvas .nav-accordion li .level-top {
    white-space: nowrap;
    overflow: hidden;
}
</style>
{% schema %}
  {
  "name": "Sidebar Info",
  "class": "sidebar-product",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "select",
          "id": "select_icon",
          "label": "Select Icon",
          "options": [
            {
              "value": "accessibility",
              "label": "Accessibility"
            },
            {
              "value": "currency",
              "label": "Currency"
            },
            {
              "value": "support",
              "label": "Support"
            },
            {
              "value": "learning",
              "label": "Learning"
            },
            {
              "value": "certification",
              "label": "Certification"
            }
          ],
          "default": "accessibility"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
    
  ]
}
{% endschema %}
