{% if shop.metafields.loox["global_stats"] %}
{% assign looxstats = shop.metafields.loox["global_stats"] | split: "," %}
<div itemscope itemtype="https://schema.org/Product">
<meta itemprop="name" content="{{ shop.name | escape }}"/>
<div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
<meta itemprop="ratingValue" content="{{ looxstats[0] }}"/>
<meta itemprop="ratingCount" content="{{ looxstats[1] }}"/>
</div>
</div>
{% endif %}
<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container"> 
  <div class="page-container"> 
    <h1> 
      {% if settings.language_enable %}
      <span class="lang1">{{ page.title | split: '|' | first }}</span>
      <span class="lang2">{{ page.title | split: '|' | last }}</span>
      {% else %}
      {{ page.title | split: '|' | first }}
      {% endif %}
    </h1> 
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte"> 
      {% if settings.language_enable %}
      <div class="lang1">{{ page.content | split: '[lang2]' | first }}</div>
      <div class="lang2">{{ page.content | split: '[lang2]' | last }}</div>
      {% else %}
      {{ page.content | split: '[lang2]' | first }}
      {% endif %}
    </div> 
  </div> 
</div>

<div id="looxReviews" data-loox-aggregate="" class="loox-reviews-default"></div>